.close {
	display: none;
}
.open {
	display: block;
}
input {
	background: rgba(128, 131, 164, 0.06);
	border-radius: 8px;
	border: 2px solid rgba(128, 131, 164, 0.2);
	box-sizing: border-box;
	padding-left: 10px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;

	font-family: 'Ubuntu', sans-serif;
}
input:hover {
	border-color: #8083a4;
	cursor: pointer;
}
input:focus {
	outline: none;
	border-color: #373af5;
}
input:visited {
	text-decoration: #2c2d76;
}
.validation::placeholder {
	color: red;
}

.week {
	&_weather {
		&_cards::-webkit-scrollbar {
			display: none;
		}
		&_cards {
			position: relative;
			z-index: 15;
			display: flex;
			flex-direction: row;
			box-sizing: border-box;
			max-width: 41vw;
			overflow: auto;
			padding-right: 2vw;
			scroll-behavior: smooth;
			&_right_arrow {
				z-index: 200;
				position: relative;
				cursor: pointer;
			}
			&_left_arrow {
				z-index: 200;
				position: relative;
				cursor: pointer;
			}
		}
		&_card {
			background-color: #373af5;

			box-shadow: 0px 4px 4px rgba(4, 5, 73, 0.25),
				14px 14px 20px rgba(5, 6, 114, 0.2);
			border-radius: 8px;
			margin-bottom: 3.5vh;
			display: flex;
			height: 100%;
			flex-shrink: 0;
			&_margin {
				width: 1vw;
				height: 4vw;
				box-sizing: border-box;
				flex-shrink: 0;
			}
			&_data {
				display: flex;
				height: 100%;
				flex-shrink: 1;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				width: 100%;
				&_date {
					align-self: flex-start;
					margin-left: 1vw;
				}
				&_photo {
					align-self: center;
				}
				&_photo img {
					width: 100px;
					height: 100px;
				}
				&_temperature {
					align-self: flex-end;
					margin-right: 1vw;
					font-weight: bold;
					font-size: 32px;
					line-height: 32px;
				}
			}
		}
	}
	&_container {
		width: 45vw;
		height: 50vh;
		background-color: white;
		border-radius: 8px;
		font-family: 'Ubuntu', sans-serif;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		margin-bottom: 10px;
		box-shadow: 0px 4px 4px rgba(4, 5, 73, 0.25),
			14px 14px 20px rgba(5, 6, 114, 0.2);
		z-index: 1;
	}
	&_title {
		color: #2c2d76;
		font-size: 34px;
		line-height: 32px;
		font-weight: 900;
		margin-top: 32px;
		margin-bottom: 32px;
		align-self: center;
	}
	&_select {
		display: none;
	}
	&_cloud {
		margin: auto;
		height: 40%;
	}
	&_text {
		color: #8083a4;
		font-size: 16px;
		line-height: 24px;
		font-weight: bold;
		margin-bottom: 10vh;
	}

	&_city_list.open {
		position: absolute;
		width: 100%;
		height: 100vh;
		z-index: 20;
		.week_city_list_container {
			background-color: #f8f8fa;
			border-radius: 8px;
			border: 2px solid rgba(128, 131, 164, 0.2);
			box-sizing: border-box;
		}
	}
	&_city_list.close {
		display: none;
	}
	&_city_list_container {
		overflow-y: auto;
	}
	&_city_list_container::-webkit-scrollbar {
		width: 4px;
		background-color: #cccddb;
		border-radius: 38px;
	}
	&_select_city {
		padding: 10px;
		margin: 10px;
		border-radius: 8px;
		text-align: left;
	}
	&_select_city:hover {
		border-radius: 8px;
		background: rgba(128, 131, 164, 0.06);
		cursor: pointer;
	}
	&_weather {
		&_cards {
			position: relative;
			z-index: 15;
			display: flex;
			flex-direction: row;
			top: 0;
			left: 0;
			margin-top: 0;
			margin-left: 4vw;
		}
		&_card {
			color: white;
			font-size: 16px;
			line-height: 24px;
			font-weight: bold;
		}
	}
}

// mobile version
@media (max-width: 609px) {
	.week {
		&_container {
			width: 90vw;
			height: 80vh;
		}
		&_text {
			width: 50vw;
		}
		&_city_list.open {
			top: 0;
			display: flex;
			justify-content: center;
		}
		&_city_list_container {
			position: relative;
			width: 70vw;
			height: 160px;
			top: 55vh;
		}
		&_weather {
			&_cards::-webkit-scrollbar {
				display: none;
			}
			&_cards {
				top: 0;
				left: 0;
				margin-top: 0;
				margin-left: 4vw;
				max-width: 65vw;
				&_right_arrow {
					display: none;
				}
				&_left_arrow {
					display: none;
				}
			}
			&_card {
				width: 40vw;
				height: 35vh;
				margin-right: 10vw;
				margin-left: 10vw;

				&_margin {
					width: 1vw;
					height: 4vw;
					box-sizing: border-box;
					flex-shrink: 0;
				}
			}
		}
	}

	input {
		width: 70vw;
		height: 7vh;
	}
}

// tablet version
@media (min-width: 610px) and (max-width: 1110px) {
	.week {
		&_container {
			width: 70vw;
			height: 70vh;
		}
		&_text {
			width: 50vw;
		}
		&_title {
			text-align: left;
			width: 100%;
			margin-left: 10vw;
		}
		&_city_list.open {
			top: 0;
			display: flex;
		}
		&_city_list_container {
			position: relative;
			width: 25vw;
			height: 160px;
			left: 19.5vw;
			top: 53vh;
		}
		&_input {
			display: flex;
			align-self: flex-start;
			margin-left: 5vw;
			width: 25vw;
			height: 48px;
		}
		&_weather {
			&_cards::-webkit-scrollbar {
				display: none;
			}
			&_cards {
				top: 0;
				left: 0;
				margin-top: 0;
				margin-left: 4vw;
				max-width: 65vw;
				&_right_arrow {
					position: relative;
					top: -18vh;
					margin-left: 67vw;
				}
				&_left_arrow {
					position: relative;
					top: 9vh;
					margin-left: 1vw;
				}
			}
			&_card {
				width: 18vw;
				height: 30vh;
				margin-right: 4vw;

				&_margin {
					width: 1vw;
					height: 4vw;
					box-sizing: border-box;
					flex-shrink: 0;
				}
			}
		}
	}
}

//desctop version
@media (min-width: 1111px) {
	.week {
		&_container {
			height: 60vh;
		}
		&_title {
			align-self: flex-start;
			margin-left: 4vw;
		}
		&_input {
			width: 45%;
			align-self: flex-start;
			margin-left: 4vw;
		}
		&_city_list.open {
			left: 0;
			top: 0;
		}
		&_city_list_container {
			margin-top: 52vh;
			margin-left: 6.5vw;
			height: 160px;
			width: 20.5vw;
		}
		&_weather {
			&_cards::-webkit-scrollbar {
				display: none;
			}
			&_cards {
				position: relative;
				z-index: 15;
				display: flex;
				flex-direction: row;

				top: 0;
				left: 0;
				margin-top: 0;
				margin-left: 4vw;

				box-sizing: border-box;
				max-width: 41vw;
				overflow: auto;
				padding-right: 2vw;
				scroll-behavior: smooth;

				&_right_arrow {
					z-index: 200;
					position: relative;
					top: -19vh;
					margin-left: 43vw;
					cursor: pointer;
				}
				&_left_arrow {
					z-index: 200;
					position: relative;
					top: 9vh;
					margin-left: 1vw;
					cursor: pointer;
				}
			}
			&_card {
				background-color: #373af5;
				width: 10vw;
				height: 30vh;
				margin-right: 4vw;
				box-shadow: 0px 4px 4px rgba(4, 5, 73, 0.25),
					14px 14px 20px rgba(5, 6, 114, 0.2);
				border-radius: 8px;
				display: flex;
				flex-direction: column;
				flex-shrink: 0;
				&_margin {
					width: 1vw;
					height: 4vw;
					box-sizing: border-box;
					flex-shrink: 0;
				}
			}
		}
	}
}
